<footer class="type-ur-email__footer">
	type-ur-email was made with ❤ and react+webpack+stylus+html+js|babel|es6+kickbox!+bla+bla+bla by <a target="_blank" href="https://github.com/guicheffer">@guicheffer</a>
</footer>
