/*- ⭐️ Footer Style
 *
 *
-*/

@import '../styleguide/container'

footer() {
  container()
  container-responsive()

  background: $gray-orkshon;
  bottom: 0;
  color: $white-base;
  position: fixed;
  text-align: right;
  width: 100%;

  a { color: $blue-action; }
}

footer-responsive() {}
