/*- 🎨 Base Style
 *
 * Responsible for all typography,
 * variables, spacing, and everything
 * ~only-view-way~ pages of SPA type your email challenge
 *
 * _ps_. Inspired on "cheffplate" settings
 *
 * cheffplate! by @guicheffer
 * https://github.com/guicheffer/cheffplate
 *
 *
 *
-*/

@import 'reset';

@import 'palette';
@import 'typography';

@import 'layout';

@import '../home/entry';
@import '../footer/footer';

font-face-normal()
font-face-bold()

::selection {
  background: $color-primary;
  color: $white-base;
}

@keyframes breath {
 0%   { background-size: 100%; }
 25%   { background-size: 125%; }
 50%  { background-size: 150%; }
 75%  { background-size: 125%; }
 100% { background-size: 100%; }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $color-primary;
  background-position: 50% 50%;
  background-size: 100%;
  color: $white-base;
  line-height: $font-size-base + $spacing-xsmall;

  &.initial-bg {
    background-image: radial-gradient(
      circle farthest-side,
      $color-primary,
      $color-secondary
    );
  }

  &.success-bg {
    animation: breath 5s ease-in-out infinite;

    background-image: radial-gradient(
      circle farthest-side,
      $color-validate-primary,
      $color-validate-secondary
    );
  }
}

body, input, a {
  font-family: 'Mukta', Helvetica, sans-serif;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  text-decoration: none;
}

.type-ur-email {
  type-ur-email-layout();
  type-ur-email-layout-responsive();

  &__home {
    home();
    home-responsive();
  }

  &__footer {
    footer();
    footer-responsive();
  }
}
