/*- 🎨 Base typography style
 *
 * Responsible for all typography layout
 *
-*/

// Fonts
// ----------------------------------------------

// Font weights
$font-weight-normal = 400
$font-weight-semi-bold = 600
$font-weight-bold = 700

// Font sizes
$font-size-small = 12px;
$font-size-base = 16px;
$font-size-large = 21px;
$font-size-headline = 38px;

// Text indent
$text-hidden = -9999px;

// Font faces
font-face-normal() {
  @font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: $font-weight-normal;
    src: local('Mukta'), local('Mukta-Regular'), url('../static/fonts/Mukta/Mukta-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
}

font-face-bold() {
  @font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    src: local('Mukta'), local('Mukta-Bold'), url('../static/fonts/Mukta/Mukta-SemiBold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
}

// Media queries
// ----------------------------------------------

@import 'media-query';

mq-small-only() {
  @media screen and (max-width: $mq-medium-size) { {block} }
}

mq-medium-up() {
  @media screen and (min-width: $mq-medium-size) { {block} }
}

mq-large-up() {
  @media screen and (min-width: $mq-large-size) { {block} }
}
