/*- ⭐️ Field Style
 *
 *
-*/

@import '../styleguide/palette';
@import '../styleguide/typography';
@import '../styleguide/media-query';

email-field() {
  $footer-spacing = 10vh;
  $measure-spacing = 50%;

  display: block;
  width: 100%;
  max-width: $mq-large-size;

  fixed-placeholder() {
    font-size: $font-size-base;
    top: "-%s" % $spacing-large;
  }

  .email-field {
    &__container[disabled] { filter: blur($spacing-xxsmall); }

    &__content {
      position: relative;

      &[data-is-validating=true]::after {
        content: attr(data-validation-text);
        font-size: $font-size-headline;
        font-weight: bold;
        left: 50%;
        letter-spacing: $spacing-xxsmall;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__label, &__input {
      cursor: text;
      font-size: $font-size-large;
    }

    &__label {
      position: absolute;
      top: $spacing-large;
      transition: all .3s cubic-bezier(0.64, 0.09, 0.08, 1);
      will-change: all;

      @keyframes blink-cursor {
        0%, 100% { border-color: transparent; }
        50% { border-color: $white-base; }
      }

      &[data-fixed=true] {
        fixed-placeholder();
      }

      &::before { content: attr(data-value); }
      &:not([data-fixed=true]):not([data-suggestion])::after {
        animation: 1s blink-cursor step-end infinite;
        border: 0.5px solid $white-base;
        content: '';
        margin-left: $spacing-xxxsmall;
      }
      &[data-suggestion]::after {
        content: attr(data-suggestion) "?";
        font-weight: $font-weight-bold;
        cursor: pointer;

        &:hover { text-decoration: underline; }
      }
    }

    &__input {
      background: transparent;
      border-bottom: $spacing-xxxsmall solid $white-base;
      border-style: none none solid;
      color: $white-base;
      display: block;
      line-height: $font-size-headline;
      outline: none;
      padding: 0 0 $spacing-small;
      text-transform: lowercase;
      width: 100%;

      &::placeholder { text-indent: $text-hidden; }
      &:focus + .email-field__label {
        fixed-placeholder();

        &:not([data-suggestion])::after { display: none; }
      }
    }

    &__suggestions {
      opacity: 0;
      overflow-y: auto;
      position: relative;
      transition: opacity .5s ease-in-out;
      white-space: nowrap;
      will-change: opacity;

      &[data-active=true] { opacity: 1; }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: $spacing-base 0;
      }
    }

    &__suggestion {
      background: $gray-orkshon;
      border-radius: $spacing-small;
      border: 1px dashed $white-base;
      color: $white-base;
      cursor: pointer;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      margin: 0 $spacing-xxsmall 0;
      outline: none;
      padding: 0 $spacing-xsmall;
      transition: background .2s ease-in-out, color .2s ease-in-out;
      user-select: none;
      will-change: background, color;

      &:hover {
        background: $white-base;
        border-color: $black-base;
        color: $black-base;
      }
      &:first-child { margin-left: 0; }
    }

    &__errors {
      margin: $spacing-base 0 0;
      min-height: $spacing-xlarge;

      ul { list-style: none; }
    }

    &__error {
      color: $red-hahae;
      font-weight: $font-weight-bold;

      span { margin: 0 $spacing-xsmall; }
      small {
        font-size: $font-size-small;
        font-style: italic;
      }
    }

    &__submit {
      background: $color-validate-primary;
      border-radius: $spacing-xsmall;
      border-width: 0;
      box-shadow: $spacing-xxsmall $spacing-xxsmall $spacing-large $color-validate-secondary;
      color: $white-base;
      cursor: pointer;
      font-family: monospace, Mukta,Helvetica,sans-serif;
      font-size: $font-size-large;
      height: $spacing-xxlarge;
      margin: $spacing-xxlarge 0 0;
      outline: none;
      text-transform: uppercase;
      transition: background .2s ease-in-out;
      width: 100%;
      will-change: background;

      &:hover { background: lightness($color-validate-primary, 40%); }
      &:active { background: darken($color-validate-primary, 40%); }
      &:disabled {
        filter: grayscale(1);
        pointer-events: none;
      }
      &[data-validated=true] {
        background: transparent;
        border: 0;
        box-shadow: none;
        pointer-events: none;
        transition: none;
        width: 100%;
      }
    }
  }
}

email-field-responsive() {
  +mq-medium-up() {
    .email-field {
      &__suggestion { margin: 0 $spacing-xsmall 0; }

      &__errors {
        float: left;
        min-height: auto;
      }

      &__submit {
        $size-button = 200px;

        float: right;
        width: $size-button;
      }
    }
  }

  +mq-large-up() {
    .email-field {
      &__label,
      &__input { font-size: $font-size-headline; }
    }
  }

  +mq-small-only() {
    .email-field {
      &__label {
        margin: "-%s 0" % $spacing-large;

        &::before { content: "> " attr(data-value); }
      }
    }
  }
}
