/*- ⭐️ Home Style
 *
 *
-*/

@import './email-field'

home() {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  overflow: hidden;

  .home {
    &__email-field {
      email-field();
      email-field-responsive();
    }
  }
}
